<header>
    <div class="header-content ">
        <div class="header-content-inner wow bounceInUp hide-on-mobile" data-wow-delay="0.5s">
            <a href="#about" class="page-scroll" style="color: #555; text-decoration: none;" >
                <h2 class="text-primary" style="color: #555; text-decoration: none; font-weight: bold;" >The DevOps Journey</h2>
                <h2 class="fa fa-2x fa-arrow-down text-primary" style="color: #555; text-decoration: none; font-weight: lighter;"></h2>
            </a>
        </div>
    </div>
</header>

<!--

<header>
    <div class="header-content">
        <div class="header-content-inner">
            <a href="#about" class="page-scroll" style="color: #555; text-decoration: none;" >
                <h2 class="wow bounceInUp text-primary hide-on-mobile" style="color: #555; text-decoration: none; font-weight: bold;" data-wow-delay="0.1s">The DevOps Journey</h2>
                <h2 class="fa fa-2x fa-arrow-down wow bounceIn text-primary hide-on-mobile" style="color: #555; text-decoration: none; font-weight: lighter;" data-wow-delay="0.9s"></h2>
            </a>
        </div>
    </div>
</header>
    
    <h2 class="fa fa-2x fa-arrow-down wow bounceInUp text-primary" style="color: #555; text-decoration: none; font-weight: lighter;" data-wow-delay="0.1s"></h2>
    
    <h2 class="fa fa-3x fa-arrow-circle-o-down wow bounceInUp text-primary" style="color: #555; text-decoration: none; font-weight: lighter;" data-wow-delay="0.1s"></h2>
    <h2 class="fa fa-2x fa-arrow-down wow bounceInUp text-primary" style="color: #555; text-decoration: none; font-weight: bold;" data-wow-delay="0.1s"></h2>
    <h2 class="fa fa-2x fa-long-arrow-down wow bounceInUp text-primary" style="color: #555; text-decoration: none; font-weight: bold;" data-wow-delay="0.1s"></h2>
    <h2 class="fa fa-3x fa-arrow-circle-down wow bounceInUp text-primary" style="color: #555; text-decoration: none; font-weight: bold;" data-wow-delay="0.1s"></h2>
    <h2 class="fa fa-2x fa-chevron-down wow bounceInUp text-primary" style="color: #555; text-decoration: none; font-weight: bold;" data-wow-delay="0.1s"></h2>

<header>
    <div class="header-content">
        <div class="header-content-inner">
            <a href="#about" class="wow bounceInUp text-primary page-scroll" style="color: #555; text-decoration: none;" ><h2 class="wow bounceInUp text-primary page-scroll" style="color: #555; text-decoration: none; font-weight: bold;" data-wow-delay="0.1s">The Journey to DevOps</h2></a>
            <a href="#about" class="fa fa-2x fa-chevron-down wow bounceInUp text-primary page-scroll" data-wow-delay="0.1s" style="color: #555; text-decoration: none;"></a>
        </div>
    </div>
</header>

    data-wow-delay="0.1s"
    zoomInUp
    bounceInUp
    #9e7a42
    #555
    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
    <a href="#about" class="btn btn-primary btn-xl page-scroll">V</a>

            <a href="#about" class="btn btn-primary btn-xl page-scroll"><h2 class="section-heading">&nbsp;&nbsp;The Journey to DevOps&nbsp;&nbsp;</h2></a>
            style="margin-bottom: 0px;"
            <h1>&nbsp;</h1>
            <div style="border:1px solid green; width:20px; height:20px; float:left; position:absolute; bottom:0px;"></div>
    
<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Your Favorite Source of Free Bootstrap Themes</h1>
            <hr>
            <p>Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>    
-->
