<section class="no-padding" id="services">
    <!-- Page Content -->
    {% for post in site.posts reversed %}
      {% if post.categories contains 'services' %}
        {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
        {% if thecycle == 'odd' %}
        <div class="content-section-a">
            <div class="container">
                <div class="row">
                    {% if post.img %}
                        <div class="col-lg-5 col-sm-6">
                            <hr class="section-heading-spacer">
                            <div class="clearfix"></div>
                            <h2 class="section-heading text-right rtl">{{ post.title }}</h2>
                            <div class="lead text-right rtl">{{ post.content }}</div>
                        </div>
                        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                            <img class="img-responsive" src="img/services/{{ post.img }}" alt="">
                        </div>
                    {% else %}
                        <div class="col-lg-12 col-sm-6">
                            <div class="clearfix"></div>
                            <hr class="section-heading-spacer">
                            <h2 class="section-heading text-center rtl">{{ post.title }}</h2>
                            
                            {% if post.subtitle %}
                            <h4 class="section-heading text-center rtl">&nbsp;</h4>
                                <h4 class="section-heading text-center rtl">{{ post.subtitle }}</h4>
                                <h4 class="section-heading text-center rtl">&nbsp;</h4>
                            {% endif %}
                            <div class="lead text-right rtl">{{ post.content }}</div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% else %}    
        <div class="content-section-b">
            <div class="container">
                <div class="row">
                    {% if post.img %}
                        <div class="col-lg-5 col-lg-offset-1 col-sm-push-6 col-sm-6">
                            <hr class="section-heading-spacer">
                            <div class="clearfix"></div>
                            <h2 class="section-heading text-right rtl">{{ post.title }}</h2>
                            <div class="lead text-right rtl">{{ post.content }}</div>
                        </div>
                        <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                            <img class="img-responsive" src="img/services/{{ post.img }}" alt="">
                        </div>
                    {% else %}
                        <div class="col-lg-12 col-sm-6"></div>
                            <div class="clearfix"></div>
                            <hr class="section-heading-spacer">
                            <h2 class="section-heading text-right rtl">{{ post.title }}</h2>
                            
                            {% if post.subtitle %}
                                <h4 class="section-heading text-center rtl">&nbsp;</h4>
                                <h4 class="section-heading text-center rtl">{{ post.subtitle }}</h4>
                                <h4 class="section-heading text-center rtl">&nbsp;</h4>
                            {% endif %}                            
                            <div class="lead text-right rtl">{{ post.content }}</div>
                        </div>                        
                    {% endif %}
                </div>
            </div>
        </div>
        {% endif %}
      {% endif %}
    {% endfor %}
    </section>
    